APScheduler==3.5.0
beautifulsoup4==4.6.0
click==6.7
flasgger==0.8.0
Flask==0.12.2
Flask-Script==2.0.6
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
mistune==0.8.3
pymongo==3.6.0
pytz==2017.3
PyYAML==3.12
request==0.0.22
schedule==0.5.0
six==1.11.0
tzlocal==1.5.1
Werkzeug==0.14.1
